body {
  margin: 0;
  padding: 0;
}

.tmenu {
  list-style-type: none; /* remove list marks */
  padding: 0;
  margin: 0;
  display: flex; /* menu in line (horizontally) */
  justify-content: center;
  background-color: rgb(140, 177, 177);
  font-size: large;
  flex-wrap: wrap; /* Allows items to fit across multiple lines */
}

.tmenu li {
  margin: 10px; /* Espacing between menu items */
  display: flex;
  align-items: center;
}

.tmenu a {
  text-decoration: none;
  color: #333;
  margin-right: 5px; /* Spacing between link and icon */
}

/* Main Content */
.content-main {
  justify-content: center;
  padding: 20px;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  flex-wrap: wrap;
}

td {
  flex: 1 1 200px; /* Ajust according to the user */
  padding: 10px;
  vertical-align: top;
  box-sizing: border-box;
}

td img {
  width: 100%;
  height: auto;
  max-width: 200px; /* Ajust according to the user */
}

.fmenu {
  list-style-type: none; /* remove list marks */
  padding: 0;
  margin: 0;
  display: flex; /* menu in line (horizontally) */
  justify-content: center;
  background-color: rgb(140, 177, 177);
  font-size: large;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
}

.fmenu li {
  margin: 10px; /* Spacing between menu items */
  display: flex;
  align-items: center;
}

.fmenu a {
  text-decoration: none;
  color: #333;
  margin-right: 5px; /* Spacing between menu icons */
}

#copyr {
  margin-top: 20px;
  font-size: 14px;
  color: black;
  flex-basis: 100%;
  text-align: center;
}

.tmenu li {
  margin-right: 20px;
}

.tmenu li a {
  text-decoration: none; /* remove link underline */
  color: #000;
}

.tmenu li a:hover {
  color: #2461a1; /* color when hover links */
}

.fmenu li a:hover {
  color: #2461a1;
}

.au-separate {
  display: flex;
  flex-direction: row;
}

.au-aboutus {
  display: flex;
  flex-basis: 65%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 2% 0% 10% 0%
}

.au-aboutus h2 {
  font-size: 500%;
}

.au-aboutus p {
  font-size: 150%;
  text-align: center;
}

.au-contact {
  display: flex;
  flex-basis: 35%;
  justify-content: center;
  flex-direction: column;
  margin: 2% 5% 10% 5%;
  background-color: #098774;
  align-items: center;
}

.au-contact img {
  width: 50%;
  height: auto;
  margin: -5%;
}

.au-contact h2 {
  font-size: 400%;
  height: auto;
  color: white;
}

.au-contact p {
  font-size: 120%;
  height: auto;
  color: white;
}
