body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #1e2530;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #f9faf8;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.hero {
  background-color: #1e2530;
  color: white;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 45%;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #e5e7eb;
}

.button {
  background-color: #3882f6;
  color: white;
  padding: 8px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.placeholder {
  background-color: #4a5568;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a0a0a0;
  overflow: hidden;
}

.placeholder img {
  width: 45%;
  height: 45%;
  object-fit: cover;
}

.info-section {
  text-align: center;
  padding: 40px 20px;
}

.info-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-item {
  width: 22%;
}

.info-box {
  border: 2px solid #3b82f6;
  border-radius: 10px;
  height: 120px;
  margin-bottom: 10px;
  overflow: hidden;
}

.info-item p {
  font-size: 12px;
  color: #4b5563;
}

.info-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.testimonial {
  background-color: #E5E7EB;
  padding: 80px 200px;
  text-align: center;
  font-style: italic;
  color: #1f2937;
}

.testimonial p:first-child {
  font-size: 36px;
  font-weight: lighter;
  font-style: light italic;
  color: #1f2937;
}

.testimonial p:last-child {
  font-style: normal;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  font-size: 36px;
  color: #1f2937;
}

.cta {
  background-color: #3882f6;
  color: white;
  padding: 40px;
  margin: 80px 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-content h2 {
  margin: 0;
  font-size: 20px;
  margin-left: 50px;
}

.cta-content p {
  margin: 5px 0 0;
  font-size: 14px;
  margin-left: 50px;
}

.cta-button {
  background-color: #3b82f6;
  color: white;
  padding: 8px 25px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
  margin-right: 50px;
}

.au-separate {
  display: flex;
  flex-direction: column;
}

.au-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.au-aboutus h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.au-aboutus p {
  font-size: 18px;
  font-style: italic;
  color: #1F2937;
}

.au-contact {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center
}

.au-contactmap {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
}

.au-contactmap h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.au-contactadress {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: italic;
  color: #1F2937;
  justify-content: center;
  align-items: center;
}

.p-main {
  display: flex;
  flex-direction: column;
}

.countrytitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1F2937;
  align-items: center;
  height: 50vh;
}

.countryinformation {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: end;
  margin-right: 10%;
}

.countryinformation h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0 0 0 0;
}

.countryinformation p {
  font-size: 18px;
  color: #e5e7eb;
}

.countryflag {
  flex-basis: 50%;
}

.countryimg {
  width: 50%;
  height: auto;
}

.onecity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.onecityname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin: 0;
}

.onecityname h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.onecity img {
  height: 100%;
}

.onecityname p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  height: 100%;
  margin: 0;
}

.grey {
  background-color: #E5E7EB;
}

.booking {
  display: flex;
  border-radius: 10px;
  margin: 20px 30% 20px 30%;
  background-color: #3882f6;
  justify-content: center;
  padding: 20px;
  font-size: 36px;
  font-weight: bolder;
  color: #f9faf8;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 10px;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}